.dialog{
  background:#3f3f3f;
  width: 600px;
  margin: 30px auto;
  padding: 5px 20px;
  position: relative;

  .filter-item{
    display: flex;
  }
  &-close{
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
}
.list-items{
  background: #000;
  height: 200px;
  padding: 20px;
  overflow: auto;
  label{
    color: #fff;
    cursor: pointer;
  }
}

.selected-items{
  width: 600px;
  margin: 0 auto;
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}
.item{
  background: #000;
  color: #fff;
  width: 150px;
  margin: 10px;
  //display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button{
    background: #000;
    border: none;
    color: #fff;
    border-left:1px solid #fff;
    margin: 3px 0;
    text-transform: uppercase;
    // width: 20px;
    float: right;
    cursor: pointer;
  }
}

.btn{
  background: #9ca85a;
  color: #fff;
  border: none;
  width: 100px;
  text-align: left;
  padding: 4px 12px;
  margin: 0 15px 0 0;
  cursor: pointer;
  &:hover{
    background: #808c46;
  }
}
