.btn-change-selection{
  border: none;
  background: #778c03;
  color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  &:hover{
    background: #9ca85a;
  }
}

.selected-items{
  max-width: 600px;
  margin: 0 auto;
  ul{
    display: flex;
    flex-wrap: wrap;
  }
}
.item{
  background: #000;
  color: #fff;
  width: 150px;
  margin: 0 15px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font: 12px 'Roboto', sans-serif;;

  button{
    background: #000;
    border: none;
    color: #fff;
    border-left:1px solid #fff;
    margin: 3px 0;
    text-transform: uppercase;
    float: right;
    cursor: pointer;
  }
}
